body {
  @apply transition-colors;

  &.dark {
    @apply text-white bg-slate-900;

    .prose {
      :not(pre) > code.language-text {
        color: theme('colors.gray.200');
        background: theme('colors.black');
      }

      .anchor.before svg{
        fill:theme('colors.white');
      }
    }
  }
}
