@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-black;
  }
}

@layer utilities {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none !important;
    font-family: "JetBrains Mono", monospace !important;

    .token.operator {
      background: none;
    }
  }
}
