@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-black;
  }

  a {
    word-break: break-all;
  }
}

@layer utilities {
  .prose {
    code[class*="language-"],
    pre[class*="language-"] {
      font-family: "JetBrains Mono", monospace !important;
    }

    :not(pre) > code.language-text {
      color: theme('colors.black');
      background: theme('colors.gray.200');
      padding-left: 0.4em;
      padding-right: 0.4em;

      &::selection {
        background: theme('colors.blue.300');
      }

      &::before, &::after {
        content: '';
      }
    }
  }
}
